{% extends 'base.html' %}

{% block title %}
    Reset your password
{% endblock title %}


{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please, enter you new password twice:</p>
        <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save!">
        </form>
    {% else %}
        <p>The reset link is invalid, probably because it has already used. Please request a new password reset.</p>
    {% endif %}
{% endblock content %}